.home-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.home-section {
    background-color: #000000;
    color: white;
}

.home-container {
    padding: 0 250px;
}

.desc-home {
    margin-bottom: 40px;
}

.home-section h1 {
    font-size: 4em;
    color: white;
    margin-bottom: 25px;
}

.home-section h1 span {
    color: #b92222;
}

.home-section p {
    font-size: 1.1em;
    color: #b6b6b6;
    margin-top: 10px;
    max-width: 55%;
}

.scroll-button {
    padding: 10px 17px;
    font-size: 16px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s ease;
    margin-right: 50px;
}

.scroll-button:hover {
    background-color: #b92222;
    color: #fff;
}

.link-services-button {
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.6s ease;
}

.link-services-button:hover {
    color: #1e68e9;
}

.next-section {
    padding: 0 250px;
    background-color: #f0f0f0;
    color: black;
}

@media (max-width: 768px) {
    .home-container {
        padding: 0 20px;
    }
}

@media (max-width: 400px) {
    .home-section h1 {
        font-size: 3.3em;
    }

    .home-section p {
        font-size: 0.9em;
        max-width: 90%;
    }

    .link-services-button {
        margin-top: 20px;
        border: 1px solid #fff;
        border-radius: 5px;
    }
}