.team-page {
    color: #000;
    padding: 4rem 10vw 3rem;
    /* Ajustado para unidades relativas */
}

/* .team-container {
    max-width: 1000px;
    margin: 60px auto;
} */

.team-container {
    max-width: 90%;
    margin: 3rem auto;
}

.team-container h2 {
    font-size: 2.8em;
    text-align: center;
    margin-bottom: 30px;
}

.team-container p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.team-cards {
    display: flex;
    flex-direction: row;
    padding: 2.5rem 0;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.team-desc,
.team-img {
    width: 90%;
    margin-bottom: 1.5rem;
}

.team-desc {
    width: 45%;
    background-color: #f6f6f6;
    border: 2px solid #f0f0f0;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.team-desc h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    margin-top: 10px;
}

.team-links {
    padding-top: 10px;
}

.team-links a {
    color: #d91313;
    text-decoration: underline;
    line-height: 1.6;
    font-size: 1.2em;
}

.team-links a:hover {
    color: #1355d9;
    text-decoration: none;
}

.team-links ul {
    display: flex;
    margin-top: 10px;
}

.team-links li {
    margin-right: 20px;
}

.team-links img {
    width: 125%;
    height: auto;
}

.team-links img:hover {
    transform: scale(1.2);
}

.team-img {
    display: flex;
    justify-content: center;
    width: 45%;
    padding: 0 40px;
}

.team-img img {
    width: 75%;
    border-radius: 40px;
    border: 20px solid #e3e3e3;
}

.team-img:hover {
    transition: 0.6s ease;
    transform: scale(1.1);
}

.team-contact-form {
    padding-bottom: 6rem;
}

@media (max-width: 800px) {
    .team-page {
        padding: 4rem 1rem 2rem;
    }

    .team-container h2 {
        font-size: 2rem;
    }

    .team-desc h3 {
        font-size: 1.5em;
    }

    .team-desc {
        width: 100%;
    }

    .team-img {
        display: none;
    }
}